body {
  font-family: Arial, sans-serif;
  background: plum;
  margin: 0;
  padding: 1rem;
}

.app {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background: purple;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-right: 2rem;
}

.task-form input,
.task-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid black !important;
  border-radius: 4px;
}

.task-form button {
  margin-right: 5px;
}

.task-item {
  padding: 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item.completed h3 {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 5px;
  cursor: pointer;
}
